.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffcc80;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .logo img {
  width: 120px;
  height: auto;
}

.left-section {
  display: flex;
  align-items: center; 
  gap: 1.5rem; 
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links li a {
  text-decoration: none;
  font-size: 1rem;
  color: #333;
  transition: color 0.3s;
}

.nav-links li a:hover,
.nav-links li a.active-link {
  color: #ff5722;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-bar {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: 250px; 
}
